.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

.tgrid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  
  
  .chart-container {
    min-width: 100px; /* Ensures charts do not overflow */
    min-height: 200px; /* Sets a minimum height for each chart */
    max-height: 400px;
    /* max-width: 1200px; */
    padding: 16px; /* Adds some padding around each chart */
    box-sizing: border-box;
  }
  .tchart-container {
    min-width: 0; /* Ensures charts do not overflow */
    min-height: 400px; /* Sets a minimum height for each chart */
    padding: 16px; /* Adds some padding around each chart */
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
  